$phone: 767px;
$tablet: 991px;
$laptop: 1199px;

html,
body {
  font-size: 62.5%;
  font-family: sans-serif;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$colors: (
  red: #fc4445,
  navy-blue: #05386b,
  green-blue: #379683,
  light-green: #5cdb95,
  honeydew-green: #8ee4af,
  beige: #edf5e1,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
